* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.banner {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 150px;
  background-color: #5134f1;
}

.banner__logo {
  display: flex;
  margin-right: 20px;
}

.banner__links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 500px;
  margin-bottom: 20px;
}

.link__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link__icon {
  height: 50px;
}

.link__container:hover {
  color: hotpink;
}
