* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  /* background-color: #e54d96; */
}

.banner {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 200px;
  background-color: #5134f1;
}

.banner__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 40px 0 0;
}

.banner__logo {
  margin-bottom: 50px;
  height: 60px;
}

.banner__links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 500px;
}

.link__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.link__icon {
  height: 50px;
}

.link__container:hover {
  color: hotpink;
  cursor: pointer;
}

.banner__links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 500px;
}

/* -------Username-------- */
.user__container {
  display: flex;
  margin-bottom: 55px;
  width: 200px;
  align-items: center;
}

.user__icon {
  height: 50px;
  margin-right: 15px;
}

.user__container:hover {
  color: hotpink;
  cursor: pointer;
}

/* -------Main-------- */

main {
  margin: 20px;
}

.header {
  margin-top: 20px;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* -------Card-------- */
.card {
  flex: 1 0 21%;
  /* width: 400px; */
  height: 475px;
  background-color: aquamarine;
  margin: 5px;
}


.footer {
  height: 500px;
}