* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.banner {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 200px;
  background-color: #5134f1;
}

.banner__user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 40px 0 0;
}

.banner__logo {
  margin-bottom: 50px;
  height: 60px;
}

.banner__links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 500px;
}

.link__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.link__icon {
  height: 50px;
}

.link__container:hover {
  color: hotpink;
  cursor: pointer;
}

.banner__links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 500px;
}

/* -------Username-------- */
.user__container {
  display: flex;
  margin-bottom: 55px;
  width: 200px;
  align-items: center;
}

.user__icon {
  height: 50px;
  margin-right: 15px;
}

.user__container:hover {
  color: hotpink;
  cursor: pointer;
}

/* -------Main-------- */

main {
  margin: 20px;
}

.header {
  margin: 70px 0 70px 0;
}

.footer {
  height: 500px;
}
.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* -------Card-------- */
.card {
  flex: 1 0 21%;
  /* width: 400px; */
  height: 475px;
  background-color: aquamarine;
  margin: 5px;
}

.card__image {
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: bottom;
  background-blend-mode: multiply;
}

.details__container {
  display: flex;
  justify-content: space-between;
}

.heart__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin: 20px 0 0 10px;
}

.heart__icon {
  height: 75px;
}

.views__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: 20px 10px 0 0;
}

.card__views {
  color: #fff;
  font-size: 15px;
  margin-bottom: 5px;
  letter-spacing: 1.5px;
}

.card__numbers {
  color: #fff;
  font-size: 35px;
  letter-spacing: 1.5px;
}

.card__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info__container {
  margin: 10px 0 0 20px;
  line-height: 1.5;
}

.url__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.url {
  padding: 20px;
  border-radius: 3px;
  background-color: rgb(206, 206, 206);
  color: gray;
  width: 75%;
}

.playlist__container {
  margin: 10px 0 0 20px;
  line-height: 1.5;
}
